body {
    background-color: #121212;
}

.header-container {
    background-color: #171d25;
    width: 100%;
    height: 104px;
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

.header-content {
    min-width: 940px;
    height: 104px;
    margin: 0px auto;
}

.logo {
    float: inline-start;
    margin-inline-end: 30px;
    padding-top: 30px;
    height: 44px;
    width: 176px;
}